.posts-container {
    margin: 20px;
  }
  
  .forms {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input[type="text"] {
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f4f4f4;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    text-align: left;
  }
  