<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="header">Bober</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Identifier</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody id="data-output">

        </tbody>
    </table>

    <script src="script.js"></script>
</body>
</html>